
.main-body{
    height: 90vh;
    padding-top: 10rem;
}
.about{
    height: 100vh;
}

  
@media (min-width: 1200px) {
    .my-name {
      font-size: 50px;
    }
  }
  /* If the screen size is smaller than 1200px, set the font-size to 80px */
  @media (max-width: 1199.98px) {
    .my-name {
      font-size: 35px;
    }
  }
